<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>YKY-Past Videos</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="My Play Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
  Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
</head>

<body>
  <%- include("base.ejs")  %>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-xl-9 d-flex align-items-center justify-content-between">
          <h1 class="logo"><a href="#">MultimediaYKY</a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.ejs" class="logo"><img src="/multimedia/assets/img/logo.png" alt="" class="img-fluid"></a>-->
          <nav class="nav-menu d-none d-lg-block">
            <ul>
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#live">Live</a></li>
              <li class="drop-down"><a href="#videos">Past Videos</a>
                <ul>
                  <li><a href="http://49.235.245.52/AAA">Jump</a></li>
                  <li><a href="http://49.235.245.52/BBB">Climb</a></li>
                  <li><a href="http://49.235.245.52/CCC">Handstand</a></li>
                  <li><a href="http://49.235.245.52/DDD">Chew</a></li>
                  <li><a href="http://49.235.245.52/EEE">Walk</a></li>
                  <li><a href="http://49.235.245.52/FFF">Pullup</a></li>
                </ul>
              </li>
              <li><a href="#contact">Contact</a></li>

            </ul>
          </nav><!-- .nav-menu -->

          <a href="#live" class="get-started-btn scrollto">Get Started</a>
        </div>
      </div>

    </div>
  </header><!-- End Header -->

  <main id="main">

   

    <section id="live" class="about">
      <div class="container">

        <div class="section-title">
          <h2>Past Videos（Chew）</h2>
          <p>There are Surprising Benefits of Chewing. For example, you can burn calories just by chewing. And Reduce heartburn.</p>
        </div>
        <div class="recommended">
          <div class="recommended-grids">
            <div class="recommended-info">
              <h3>Chew</h3>
            </div>
            <div id="app">
              <ol>
                  <div class="col-md-3 resent-grid recommended-grid" v-for="item in VideoInfo" :key="item.pic">
                <!-- <div class="resent-grid-img recommended-grid-img"> -->
                    <a :href="item.id" @click="play(item.address)"><img :src="item.pic" alt="" /></a>
                    <div class="time small-time">
                      <p>{{item['time']}}</p>
                    </div>
                    <div class="clck small-clck">
                      <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                    </div>      
                  </div>
              </ol>
            </div>
          </div>
        </div>

      </div>
    </div>
    </section>
    
    <!-- ======= video Section ======= -->
    <section id="video001" class="about">
      <div class="container">

        <div class="section-title">
          <h2>Our Video</h2>
          <p>Here, you can see the past video, which has been processed by CV to outline the characters.</p>
        </div>
    <!-- ======= 只有safari可以 ======= -->
        <!-- <a name="myvideo">
          <video id="my_video_1" class="video-js vjs-default-skin" controls preload="auto" width="900" height="600" data-setup='{}'>
          <source src="" type="video/mp4">
          </video>
        </href> -->
        <div class="video_wrap" ref="videoWrap" id="video-box">
          <div class="video">
            <!-- ======= js动态插入 ======= -->
          </div>
        </div>
      </div>
    </section>

    <!-- <section id="video002" class="about">
      <div class="container">

        <div class="section-title">
          <h2>Our Video</h2>
          <p>Here, you can see the past video, which has been processed by CV to outline the characters.</p>
        </div>

        <a name="myvideo">
          <video id="my_video_1" class="video-js vjs-default-skin" controls preload="auto" width="900" height="600" data-setup='{}'>
          <source src="/videos/first_chew/test.mp4" type="application/x-mpegURL">
          </video>
        </href>

      </div>
    </section>
    
    <section id="video003" class="about">
      <div class="container">

        <div class="section-title">
          <h2>Our Video</h2>
          <p>Here, you can see the past video, which has been processed by CV to outline the characters.</p>
        </div>

        <a name="myvideo">
          <video id="my_video_1" class="video-js vjs-default-skin" controls preload="auto" width="900" height="600" data-setup='{}'>
          <source src="/videos/first_chew/test.mp4" type="application/x-mpegURL">
          </video>
        </href>

      </div>
    </section>
    
    <section id="video004" class="about">
      <div class="container">

        <div class="section-title">
          <h2>Our Video</h2>
          <p>Here, you can see the past video, which has been processed by CV to outline the characters.</p>
        </div>

        <a name="myvideo">
          <video id="my_video_1" class="video-js vjs-default-skin" controls preload="auto" width="900" height="600" data-setup='{}'>
          <source src="/videos/first_chew/test.mp4" type="application/x-mpegURL">
          </video>
        </href>

      </div>
    </section>
     -->

    <!-- End live Section -->
    




  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>MultimediaYKY</h3>
      <p>Contact our team YKY for more information</p>
      <div class="social-links">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
      <div class="copyright">Copyright &copy; 2020.Company name All rights reserved.</div>
      <div class="credits"></div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>


</body>


<script>
  var backend_ip = "http://49.235.245.52/";
  var Rdata = {
      test:false,
      VideoInfo:[],
      VideoAddr:"test",
  }
  new Vue({
      el: '#app',
      data:Rdata,
      methods:{
          testfunc:function(e){
            var dic = {
              'address':'/videos/first_chew/test.mp4\n',
              'time':'10:30',
              'pic':"/multimedia/images/g2.jpg",
              'id':"#video001",
            }
            // this.VideoInfo.push(dic);
            // this.VideoInfo.push(dic);
            // this.VideoInfo.push(dic);
            // this.VideoInfo.push(dic);
            // console.log((this.VideoInfo).length);
            var that = this;
            console.log('test-chew......');
            var url = backend_ip + "log/users";
              var data = {
                  operation: 'chew',
              }
              $.ajax({
                  type:'POST',
                  url:url,
                  data:data,
                  dataType:'json',
                  crossDomain: true,
                  success:function (result) {
                      console.log('test-chew');
                      console.log(result.ret);
                      var VideoArray = result.ret;
                      for(var i=0;i<VideoArray.address.length;i++){
                          var dic = {};
                          dic.address = VideoArray.address[i];
                          dic.pic = VideoArray.pic[i];
                          dic.time = VideoArray.time[i];
                          dic.id = "#video001";
                          that.VideoInfo.push(dic);
                          console.log(that.VideoInfo);
                      }
                      console.log(that.VideoInfo);
                      that.$set(that,that.VideoInfo,that.VideoInfo);
                  }
              })
              console.log('try');
          },
          play:function(e){
            console.log('addr:');
            console.log(e);
            var sourceDom = $(
                '<video id = "onlyone" controls="controls" width="900" height="600" ><source src="' + e + '"></video>'
              );
            $(".video").html();
            $("#onlyone").remove();
            $(".video").append(sourceDom);
            $("#video-box").show();

            // 自动播放
            $("#video-box video")[0].play();
            $("#video-box video")[0].load();
          }
      },
      created:function(e){
          this.testfunc();
      }
  })
</script>








</html>
