body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.table>tbody>tr:hover{
    background-color:#EDD6D7;
}

.login-container{

    margin-left:auto;

    margin-right:auto;

    margin-TOP:150PX;

    width:20em;

}

.login-title{
    margin-left: auto;
    margin-right:auto;
    margin-top:100px;
}

#login-title{
    text-align: center;
}